.wrapper{
    max-width: 90%;
    margin: 0 auto;
}

/* Header and Logo */
.logo{
    display:grid;
    justify-content: center;
   }
   .title{
       text-align: center;
   }
   .logo_img{
       max-width: 100px;
       display: grid;
       margin: auto;
   }
   .navlist, .navlist li{
       margin: auto;
       width: 50%;
       display: flex;
       justify-content: space-around;
       list-style: none;
       margin-bottom: 2em;
   }
   /**/

   .intro h1, .intro p{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
}

.carousel{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
}
.carousel_img{
    max-width: 200px;
}
.carousel_button{
    max-width: 50px;
    height: 200px;
}


.service_item{
    width: 40%;

    margin: auto;
    margin-bottom: 2em;
}
.service_item h3{
    text-align: center;
}
.service_item div{
    display: flex;
}
.service_item img{
    max-width: 250px;
}

/* Footer */
footer ul, footer p{
    list-style: none;
    display: flex;
    justify-content: space-around;
    width: 30%;
    margin: auto;
    margin-bottom: 1em;
}
/**/