.wrapper{
    margin: 0 auto;
}
   .intro h1, .intro p{
    width: 50%;
    margin: auto;
    margin-bottom: 2em;
    text-align: center;
}

.carousel{
    max-width: 90%;
    margin: auto;
    margin-bottom: 2em;
}

.service_item{
    width: 40%;

    margin: auto;
    margin-bottom: 2em;
}
.service_item h3{
    text-align: center;
}
.service_item div{
    display: flex;
}
.service_item img{
    max-width: 250px;
}